/*
 * @Author: lixiang 
 * @Date: 2019-02-24 10:44:59 
 * @Last Modified by: lixiang
 * @Last Modified time: 2019-05-19 13:22:22
 */

.primary {
  background: blue;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}