.father{
    background: #ccc;
    height: 500px;
    padding:20px;
}

.son{
    background: #999;
    height: 400px;
    padding: 20px;
}

.grandSon{
    background:#333;
    height: 100px;
    padding: 20px;
    color: #fff;
    margin-top: 10px;
}